<% if flash[:success] %>
    <div class="alert alert-primary" role="alert">
        <%= flash[:success] %>
    </div>
<% end %>
<div class="p-3">
    <h2 class="lead"><%= current_user.name %>の予約一覧</h2>
</div>
