<body>
    <nav class="navbar navbar-yellow">
    <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
            <p class="log">FP.com</p>
        <% end %>
        <% if logged_in? %>
            <p class="navbar-text my-0"><%= current_user.name %></p>
            <%= link_to "ログアウト", logout_path, { class: "btn btn-primary", method: :delete} %>
        <% end %>
    </div>
    </nav>
</body>
