<body>
    <nav class="navbar navbar-yellow">
    <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
            <p class="log">FP.com</p>
        <% end %>
    </div>
    </nav>
</body>
