<div class="vh-100 d-flex align-items-center justify-content-center"> 
    <div class="text-center text-dark">
        <h1>FP.com</h1>
        <h2>FPと相談できるサービス</h2>
        <div class="d-flex justify-content-around">
            <button class="btn btn-primary">新規登録</button>
            <button class="btn btn-primary">ログイン</button>
        </div>
    </div>
</div>
