<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <% if flash[:success] %>
            <div class="alert alert-primary" role="alert">
                <%= flash[:success] %>
            </div>
        <% end %>
        <div class="text-dark">
            <h1>FP.com</h1>
            <h2>FPと相談できるサービス</h2>
            <div class="d-flex justify-content-around">
                <%= link_to "新規登録", new_client_path, { class: "btn btn-primary"} %>
                <%= link_to "ログイン", login_path, { class: "btn btn-primary"} %>
            </div>
        </div>
    </div>
</div>
